:root {
    --primary-color: #023047;
    --secondary-color: #dedbd2;
    --accent1-color: #edf2f4;
    --accent2-color: #0a2463;
}

header nav a {

    text-decoration: none;
}

header img {
     width: 200px; 
     height: auto;
}
h1 {
    color: var(--primary-color);
    position: absolute;
    text-align: center;
    padding: 10px;

    }


h2{
    color: var(--accent2-color);
    text-align: center;

}


p {
    background-color: var(--accent1-color);
}


nav .sociallinks a {
    text-decoration: none;
    display: inline-block;
    text-align:center;
    }

.sociallinks img {
    width: 24px;
    height: auto;

}    

footer {
    text-align: center;
}


      
    
    .hero img {
        display: block;
        background-repeat: no-repeat;
    }  

     
     
    .hero  {
        background-size: cover;
        position: relative;
        background-position: center;
        background-image: url(/wwr/images/rafting-people.jpg);
       
    }
    

    .hero h1 {
        position:absolute;
        background-color: var(--secondary-color);
        text-align: center;
        padding: 25 px;



    }


   .hero article {
        position: absolute;
        background-color:  var(--accent1-color);
        padding: 15px;
        
       }      

   .hero article img {
       background-color: var(--secondary-color);
       float:right;

       
   }
   
   .hero article p {
    padding: 15 px;
    background-color: var(--secondary-color);

   }


    
 
    
 
    
  