:root {
    --primary-color: #023047;
    --secondary-color: #dedbd2;
    --accent1-color: #edf2f4;
    --accent2-color: #0a2463;
}

header nav a {

    text-decoration: none;
}

header img {
     width: 200px; 
     height: auto;
    
    }
    
h1 {
    color: var(--primary-color);
    position: absolute;
    text-align: center;
    padding: 10px;
    

    }


h2{
    color: var(--accent2-color);
    text-align: center;

}


p {
    background-color: var(--accent1-color);
}


nav .sociallinks a {
    text-decoration: none;
    display: inline-block;
    text-align:center;
    }

.sociallinks img {
    width: 24px;
    height: auto;

}    

footer {
    text-align: center;
}


      
    
   
    
    #happy-client {
        width: 200px;
        height: auto;
    
    }
  

    

   #background-image {
    min-height: 150vh;
    position: relative;
    background-size: cover;
    min-width: 600px;
   }

   .hero h1 {
    position:absolute;
    max-width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 25px;
    top: 30%;
    left: 10%;
    margin: 0;
    width: 80%;
    z-index: 10;

}
   .hero article {
        position: absolute;
        background-color:  var(--accent1-color);
        padding: 15px;
        bottom: 20px;
        right: 20px;
        max-width: 700px;
        border-radius: 5px;
        z-index: 5;
        
        
       }      

   .hero article img {
       width: 100%;
       height: auto;
       display: block;
       margin-bottom: 10px;
       float: right;
         

       
   }
   
   .hero article p {
    padding: 15 px;
    margin: 0    ;

   }


    
 
    
 
    
  